<!-- <ul class="basket-headers">
  <li class="basket-header">
    Item
  </li>
  <li class="basket-header">
    Quantity
  </li>
  <li class="basket-header">
    Price
  </li>
</ul>
<div class="basket-content">
  <div class="item-grid">
    <div>
      Hello
    </div>
    <div>
      Hello
    </div>
    <div>
      Hello
    </div>
  </div>
</div> -->

<% if @basket.basketItems.count == 0 %>
  <div>Your basket is empty</div>
<% else %>
  <table>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @basket.basketItems.each do |item| %>
      <tr>
        <td><%= cl_image_tag(item.buyable.photos.first.key, :width => 90,
        :height => 130, :crop => :fill )%></td>
        <td><%= item.buyable.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.buyable.price %></td>
        <td>
          <%= link_to basket_item_path(item), method: :delete, data: { confirm: "Are you sure?"} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= @basket.price_cents %>
  <div class="buy button">Confirm</div>
<% end %>


