<nav class="banner">
  <div>
    <%= image_tag("banner.gif") %>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 20px"></i>
  </div>
  <% unless controller_name == 'pages' && action_name == 'checkout' %>
    <% if user_signed_in? %>
      <%= link_to basket_path do %>
        <% if @basket.basketItems.count == 0 %>
          <i class="fas fa-shopping-cart cart hidden"> <span class="cart-number"><%= @basket.quantity %></span></i>
        <% else %>
          <i class="fas fa-shopping-cart cart"> <span class="cart-number"><%= @basket.quantity %></span></i>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</nav>

<%= render 'shared/modal' %>
