<div class="menu">
  <%= link_to "Events", events_path %>
  <%= link_to "Fan Art", "#" %>
  <%= link_to "Books", books_path %>
  <%= link_to "Goodies", "#" %>
  <%= link_to "Bio", bio_path %>
  <%= link_to "Blog", blogs_path %>
  <%= link_to "Contact", new_contact_path %>
</div>
