<% unless current_page?(root_path) %>
  <div class="home-button">
    <%= link_to "Home", root_path, class:"home" %>
  </div>
<% end %>

<div class="menu">
  <%= link_to "Events", events_path %>
  <%= link_to "Goodies", goodies_path %>
  <%= link_to "Fan Art", fanarts_path %>
  <%= link_to "Books", books_path %>
  <%= link_to "Bio", bio_path %>
  <%= link_to "Blog", blogs_path %>
  <%= link_to "Contact", new_contact_path %>
</div>
