<div class="menu">
  <%= link_to "Events", events_path %>
  <%= link_to "Fan Art", "#" %>
  <%= link_to "Books", "#" %>
  <%= link_to "Goodies", "#" %>
  <%= link_to "Bio", "#" %>
  <%= link_to "Blog", "#" %>
  <%= link_to "Contact", "#" %>
</div>
