<div class="smodal">
  <div class="modal-content">
    <div class="close">
      +
    </div>
    <div class="links">
    <%= link_to "Events", events_path %>
    <%= link_to "Goodies", goodies_path %>
    <%= link_to "Fan Art", fanarts_path %>
    <%= link_to "Books", books_path %>
    <%= link_to "Bio", bio_path %>
    <%= link_to "Blog", blogs_path %>
    <%= link_to "Contact", new_contact_path %>
    </div>
  </div>
</div>
