<div class="text-center">
  <div class="menu">
    <%= link_to "Events", "#" %>
    <%= link_to "Fan Art", "#" %>
    <%= link_to "Books", "#" %>
    <%= link_to "Goodies", "#" %>
    <%= link_to "Bio", "#" %>
    <%= link_to "Blog", "#" %>
    <%= link_to "Contact", "#" %>
  </div>

  <h1 class="page-intro">Welcome to the Wonderful World of Sal Hendrie...</h1>

  <h2>future image</h2>
  <div class="button">ORDER SIGNED BOOKS</div>
</div>
