<% provide(:title, 'Contact') %>

<div class="text-center">

<h1 class="contact-title">We love hearing from our readers!</h1>

  <div class="form">

    <%= form_for @contact do |f| %>
      <div class="minline">
        <%= f.label :name, class:"label" %> <br>
        <%= f.text_field :name, class:"input",  required: true %>
      </div>
      <br>

      <div class="minline">
        <%= f.label :email, class:"label" %> <br>
        <%= f.email_field :email, class:"input", required: true %>
      </div>
      <br>

      <%= f.label :message, class:"label" %> <br>
      <%= f.text_area :message, class:"input", as: :text %>

      <br>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <%= f.submit 'Send Message', class: "button", style: "border: none;" %>

    <% end %>

  </div>

</div>
