<% provide(:title, 'Books') %>

<div class="text-center">
  <div class="books">
    <% @books.each do |book| %>
      <div class="book">
        <%= cl_image_tag(book.photos.first.key, :width => 240, :height => 180, :crop => "fill") %>
        <div class="book-information">
          <h3><%= book.title %><span class="badge">  ($<%= book.price %>) </span></h3>
          <p class="book-year"><%= book.year %></p>
          <p class="book-description"><%= book.description %></p>
          <%= link_to book_path(book) do %>
          <div class="button" id="button-book">Book Details</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
