<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'shared/banner' %>
    <div class="container">
    <%= render 'shared/menu' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  </body>
</html>
