<!DOCTYPE html>
<html>
  <head>
    <title>SalHendrie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div class="banner", style="background-image: url('banner.gif')"></div>
    <div class="container">
    <%= render 'shared/menu' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
